h1, h2, h3, h4 {
	text-rendering: optimizeLegibility;
}
.site-header .container {
	@media (min-width: 1280px) {
		width: 1280px;
	}
}
.site-menu {
	background-color: @b-1;
	margin-top: 20px;
	ul {
		.list-clean;
		line-height: 35px;
		li {
			display: inline-block;
			padding: 0 15px;
			float: left;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
				float: right;
			}
		}
	}
	a {
		color: #fff;
		.a-blur;
	}
}
.tools {
	float: right;
	display: inline-block;
	.btn {
		margin-top: -5px;
	}
}

a.header-tool-icon {
	font-size: 25px;
	padding: 0 10px;
	.a-blue;
	.a-blur;
}
.social-iframe {
	display: none;
	.transition (all .2s ease-out);
	display: inline-block;
	height: 30px;
	margin-right: 0;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 0px;
}
.tool-likeus {
	position: relative;
	display: inline-block;
	.transition(all 0.15s linear);
	cursor: pointer;
	float: left;
	&:hover {
		.social-iframe {
			position: relative;
			width: 120px;
		}
	}
}
.show {
	display: block;
}

.global-search {
	height: 140px;
	background-color: rgba(256,256,256,.95);
	position: absolute;
	width: 100%;
	top: -10px;
	z-index: 100;
	.transition (all 0.1s ease);
	.container {
		padding: 0 45px 0 35px;
		max-width: 940px;
	}
	input[type="search"] {
		height: 120px;
		background-color: inherit;
		font-size: 72px;
		line-height: 132px;
		width: 100%;
		padding-left: 25px;
		border: 0;
		&:focus {
			outline: 0;
		}
	}
	.fa-times {
		left: 0;
		top: 56px;
		font-size: 28px;
		color: #333;
		padding-top: 1px;
		position: absolute;
		cursor: pointer;
		&:hover {
			color: @biz-1;
		}
	}
	.fa-search {
		position: absolute;
		font-size: 72px;
		color: #666;
		cursor: pointer;
		right: 25px;
		top: 30px;	
		border: none;
		padding: 1px;
		background: transparent;
		&:hover {
			color: #333;
		}
		&:focus {
			outline: 0;
		}
	}
	.container {
		position: relative;
	}
}
.global-search.show-search {
	top: 133px;
	.transition(all 0.4s ease-in-out);
}


.header-wrapper {
	background-color: @biz-pink;
	z-index: 200;
	position: relative;
	height: 133px;
}

.super-header {
	line-height: 40px;
	font-size: 12px;
	height: 40px;

	
	ul {
		float: left;
		.list-clean;
		li {
			display: inline-block;
			font-weight: 600;
			.sosume {
				background: url(../images/cookies.png) left center no-repeat;
				padding-left: 16px;
			}
		}
		li + li:before {
			content: "\00b7";
			margin-left: 5px;
			margin-right: 7px;
			display: inline-block;
		}
		a {
			.a-blue;
			.a-blur;
		}
		
	}
	.right-nav {
		float: right;
	}
}
.logo {
	width: 372.746px;
	height: 33.821px;
	display: inline-block;
	text-indent: -9999px;
}
.teaser {
	h1.header,
	h2.header,
	h3.header {
		margin: 0 0 10px 0;

	}
	h2 {
		font-size: 15px;

	}
	footer {
		font-weight: 600;
		font-size: 11px;
		margin-bottom: 5px;
	}

	a {
		color: @text-color;
		&:hover {
			opacity: .8;
		}
	}
	.cat {
		color: @biz-1;
		text-transform: uppercase;
	}
	time {
		color: rgba(0,0,0,.5);
		padding-left: 4px;
	}
}

.teaser-img {
	margin-bottom: 10px;
	a {
		img {
			.transition (.2s opacity ease);
			-webkit-backface-visibility: hidden;
		}
		&:hover {
			img {
				opacity: .9		
			}
		}
	}
}

.deck {
	.module;
	.section-header {
		font-size: 12px;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
}

.list-clean {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
	}
}
.teaser-body {
	overflow: hidden;
	span {
		font-size: 12px;
		font-weight: 600;
		color: @biz-1;
	}
}
.teaser-thumb-sm {
	padding: 15px 0;
	margin: 0;
	list-style: none;
	line-height: 1.3;
	&:first-child {
		padding-top: 0;
	}
	footer {
		margin-bottom: 0;
	}
	
	figure {
		float: left;
		margin-right: 10px;
		margin-top: 4px; 
	}
	
	.article-link {
		display: inline-block;
		overflow: hidden;
	}
	a {
		color: #333;
		.a-blur;
	}
}
.toplist {
	.list-clean;
}
.toplist {
	a {
		overflow: hidden;
		display: block;
		color: @text-color;
		&:hover {
			opacity: .8;	
		}
	}
	li {
    counter-increment: toplist;
    padding-left: 0px;
    overflow: hidden;
    margin-bottom: 10px;
    &:before {
    	content: counter(toplist) ".";
    	float: left;
    	display: inline-block;
    	width: 25px;
    	color: @biz-1;
    	text-align: right;
    	padding-right: .2em;
	}
}
}
.toplist-large li {
	&:before {
    	font-weight: 700;
    	font-size: 30px;
    	width: 50px;
    	line-height: 1;
    }
}
.desktop-banner {
	@media (max-width: @screen-sm-max) {
		display: none;
	}
}
.rat-tail {
	position: relative;
	width: 960px;
	height: 180px;
	margin: 20px -10px 10px;
	.banner-left {
		position: absolute;
		left: -160px;
		width: 160px;
		overflow: hidden;
		top: 0;
	}
	.banner-right {
		position: absolute;
		right: -160px;
		width: 160px;
		overflow: hidden;
		top: 0;
	}
}
.banner-top-article {
	text-align: center;
	margin-bottom: 20px;
}

.article-head {
	position: relative;
	margin-bottom: 20px;
	
	
	.article-date {
		font-size: 12px;
		color: rgba(0,0,0,.5);
		.module-xs;
		.clearfix;
		display: block;
	}
	.date-updated {
		display: inline-block;
		background: #fed100;
		padding: 0 3px;
		font-style: italic;
	}
	
	.article-image {
		.module-sm;
		figcaption {
			font-size: 13px;
			color: rgba(0,0,0,.8);
			margin-top: 5px;
			font-weight: 600;
			span {
				color: rgba(0,0,0,.6);
			}
		}
	}
	.article-tag {
		text-transform: uppercase;	
		font-size: 14px;
		font-weight: 600;
		display: block;
		// .a-blur;
		position: relative;
		span {
			background: @biz-pink;
			display: inline-block;
			padding: 0 5px 0 0;
			z-index: 2;
			position: relative;
		}
		&:after {
			position: absolute;
			height: 5px;
			background: rgba(0,0,0,.1);
			left: 0;
			right: 0;
			top: 7px;
			content: '';
			display: block;
			z-index: 0;
		}
		
	}

}
h1.heading {
	font-weight: normal;
	font-size: 40px;
	color: #000;
	line-height: 1.2;
	margin: 0 0 10px;
	font-family: Berlingske;
}
.article-summary {
	font-weight: 500;
	font-size: 21px;
	line-height: 1.3;
	margin-top: 0;
	.module-xs;
}
.article-content p {
	line-height: 1.6;
	margin-bottom: 20px;
	font-size: 17px;
}
.article-byline {
	line-height: 1.2;
	.module-xs;
	.clearfix;
	figure {
		float: left;
		margin-right: 10px;
	}
	img {
		border-radius: 50%;
	}
	.article-author {
		font-size: 13px;
		color: rgba(0,0,0,.7);
		display: inline-block;
		margin-right: 15px;
		span {
			/*white-space: nowrap;
			display: inline-block;
			float: left;*/
			overflow: hidden;
			display: inline-block;
		}
	}
	.follow-author {
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
.article-social {
	.module-xs;
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding: 10px 0;

	
	@icon-size: 35px;
	[class*='icon-'] {
		color: #fff;
		width: @icon-size;
		height: @icon-size;
		line-height: @icon-size;
		border-radius: 50%;
		text-align: center;
		display: inline-block;
		font-size: 18px;
		.transition (background-color .1s ease);
		background-color: rgba(0,0,0,.3);
	}
	.icon-facebook:hover {
		background-color: @col-facebook;
		
	}
	.icon-twitter:hover {
		background-color: @col-twitter; 
	}
	.icon-linkedin:hover {
		background-color: @col-linkedin; 
	}
	
	.comments-teaser {
		font-size: 14px;
		a {
			.a-gray;
			.a-blur;
		}
		.icon-letter {
			color: #fff;
			&:hover {
				background-color: rgba(0,0,0,.5); 
			}
		}
	}
}
.article-link-embedded {
	padding: 5px;
	margin: 10px 0 15px;
	background-color: rgba(0,0,0,.05);
	span {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
	}
	.clearfix;
	a {
		color: rgba(0,0,0,.8);
		.a-blur;
		font-size: 14px;
		font-weight: 600;
	}
	figure {
		float: left;
		margin-right: 20px;
	} 
}
.article-fact {
	padding: 20px 20px;
	background: rgba(0,0,0,.05);
	position: relative;
	max-height: 150px;
	overflow: hidden;
	.transition (height .2s ease);
	.module-sm;
	.clearfix;
	&.show {
		max-height: 9999px;
		.fact-fader {
			background: transparent;
		}
		.fact-toggle .fa:before {
			content: "\f066";
		}
		.fact-toggle {
			position: absolute!important;
			right: 5px;
			bottom: 0;
			b {
				display: none;
			}
		}


	}
	p {
		font-size: 90%;
	}
	h1 {
		font-size: 18px;
		font-weight: 600;
		margin: 0 0 15px 0;
	}
	figure {
		float: left;
		margin: 5px 10px 0 0;
	}
	.fact-fader {
		height: 80px;
		#gradient > .vertical(rgba(245,223,218,0); rgba(246,223,218,1); 0; 80%);  
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		.fact-toggle {
			display: inline-block;
			cursor: pointer;
			position: relative;
			top: 55px;
			font-size: 13px;
			font-weight: 700;
			text-transform: uppercase;
			.fa {
				color: #fff;
				height: 20px;
				width: 20px;
				line-height: 20px;
				text-align: center;
				background: @biz-1;
				margin-left: 5px;
				&:before {
					// .transition (transform .2s ease);
				}
			}
			&:hover .fa:before {
				transform: scale(1.3, 1.3);
			}
		}
		
	}
}
.article-sidebar {
	padding-top: 4px;
}