
@col-purple: #a10e4b;
.business-live-title {
	span {
		color: @col-purple;
	}
	.beta {
		color: #666;
		font-weight: 300;
		font-size: 12px;
		text-transform: uppercase;
	}
}
.liveblog-header {
	border-top: 4px solid #333;
	padding-top: 10px;
	h1 {
		margin: 0;
		font-size: 30px;
	}
}
.liveheader {
	background-color: @col-purple;
	line-height: 50px;
	height: 50px;
	font-size: 14px;
	color: #fff;
	font-weight: 700;
	a {
		color: #fff;
		text-decoration: underline;
	}
	.livelabel {
		line-height: 30px;
		height: 30px;
		float: left;
		display: inline-block;
		padding: 0 1rem 0 .6rem;
		background-color: #ff3a3a;
		margin: 10px 1rem 0 ;
	}
	.timeofday {
		display: inline-block;
	}
	
}
.live-hosts {
	padding: 5px 0 0;
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.hostoftheday {
	display: inline-block;
	padding-left: 40px;
	line-height: 1.2;
	padding-top: 14px;
	position: relative;
	padding-right: 10px;
	font-weight: 700;
	font-size: 14px;
	max-width: calc(50% - 5px);
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	
	&:not(:last-child) {
		border-right: 1px solid rgba(0,0,0,.1);
		margin-right: 5px;
	}
	&:after {
		content: 'Nyhedsvært';
		position: absolute;
		top: 4px;
		left: 40px;
		font-size: 10px;
		color: rgba(0,0,0,.5);
	}
	a {
		color: #222;
	}
	img {
		float: left;
		border-radius: 50%;
		width: 30px;
		margin: -10px 0 0 -40px;
		height: auto;
	}
}


.liveheader-small {
	line-height: 34px;
	height: 34px;
	font-size: 13px;
	.livelabel {
		line-height: 20px;
		height: 20px;
		padding: 0 .8rem 0 .5rem;
		margin: 7px 1rem 0 7px;
	}
	


}
.livelabel.livelabel-offline {
	background-color: darken(#444, 0%);
	color: #eee;
	margin-right: 10px;
	text-shadow: 0 0 10px rgba(255,255,255,0.7);
}












.Content > div {
	margin-bottom: 10px;
}


.scrbbl-sitePreview {
	background-color: #fff;
	padding: .625rem;
	line-height: 1.2;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: .625rem;
	.clearfix;
	.LinkImage {
		float: left;
		margin: 0 1rem 0 0;
		max-width: 160px;
	}
	.scrbbl-sitePreview-inner {
		overflow: hidden;
	}
	h3 {
		margin: 0 0 5px;
		font-family: Berlingske, Georgia, "Times New Roman", Times, serif;
		font-size: 17px;
		font-weight: normal;
		
		a {
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.LinkSiteName {
		color: #999;
		font-size: 11px;
		padding-right: .625rem;
		font-weight: 700;
		display: block;
		margin-bottom: 5px;
	}
	.LinkDescription {
		font-size: 14px;
		display: inline-block;
	}

}


.Meta {
	font-size: 12px;
}

.live-content {
	margin: 5px 0 2rem;

}

.live-blog {
	padding: 0 0 0 30px;
	position: relative;
	list-style: none;
	&:before {
		position: absolute;
		left: 10px;
		top: 5px;
		bottom: 5px;
		width: 3px;
		background-color: rgba(0,0,0,.1);
		content: '';
	}


	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	
	a {
		font-weight: 700;
	}
	
	.twitter-tweet {
		visibility: hidden;
	}
	
	twitterwidget {
		display: none;
		&.twitter-tweet-rendered {
			display: block;
		}
	}


	
	[id*="Poll"] {
		padding: 1rem;
		background-color: #fff;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	}
	[id*="Answer"] {
		// padding-left: 20px;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		input[type="radio"] {
			margin: 0 5px 0 0;
			/*float: left;
			margin-left: -20px;*/
		}
		
	}
}

[class*="live-item"] {
	position: relative;
	border-bottom: 3px solid rgba(0,0,0,.1);
	padding: 0 0 2rem;
	margin: 0 0 2rem;
	&:last-child {
		border-bottom: 0;
	}
	&> img {
		display: none; // hide avatars
	}
	
	&:before {
		width: 20px;
		height: 20px;
		border-radius: 50%;
		top: 1px;
		left: -28px;
		display: inline-block;
		content: '';
		background-color: @col-purple;
		position: absolute;
		
		border: 5px solid @biz-pink;
	}

	figure {
		background-color: #fff;
		padding: 5px;
		margin: 5px 0;
		figcaption {
			padding-top: 5px;
			font-size: 14px;
		}
	}
	.youtube-post {
		position: relative;
		height: 0;
		width: 100%;
		padding-top: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.Content > blockquote {
		margin: 20px 0;
		padding: 10px 10px 10px 60px;
		border: 1px solid rgba(0,0,0,.1);
		border-radius: 2px;
		
		&:before {
			opacity: .2;
			width: 40px;
			height: 40px;
			background-size: contain;
			top: 10px;
			left: 5px;
		}
		&> div {
			font-size: 15px;
			min-height: 40px;
		}
	}
}


@font-size: 14px;
@line-height: 1.2;
@lines-to-show: 3;


.live-blog-frontpage {
	margin-bottom: 0;
	.Content > div {
		display: block; /* Fallback for non-webkit */
		display: -webkit-box;
		height: (@font-size*@line-height*@lines-to-show); /* Fallback for non-webkit */
		margin: 0;
		font-size: @font-size;
		line-height: @line-height;
		-webkit-line-clamp: @lines-to-show;
		-webkit-box-orient: vertical;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.Meta {
		font-weight: 700;
	}
}

.live-content {
	position: relative;
}
.live-link {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 1;
	display: block;
	z-index: 99;
}

@media (max-width: @screen-sm-max) {

	

	.business-live-title + p {
		font-size: 14px;
	}
	.live-content {
		padding: 1rem;
		margin: 0;
	}
	.liveheader {
		font-size: 12px;
		
		.livelabel  {
			padding: 0 1rem;
		}
		.timeofday {
			display: none;
		}
	}
	.live-teaser {
		img {
			max-width: 80px;
		}
	}
	
	.scrbbl-sitePreview {	
		.LinkImage {
			float: none;
			margin: 0 0 1rem 0;
			max-width: none;
		}
	}

	
	.liveheader:not(.liveheader-small) {
		height: 40px;
		line-height: 40px;
		
		.livelabel {
			margin-top: 5px;
			margin-left: 5px;
		}
		
	}
	.live-blog-frontpage {
		[class*="live-item"] {
			padding-top: 20px;
			padding-bottom: 1rem;
			margin-bottom: 1rem;
		}
		.Meta {
			position: absolute;
			top: 3px;

		}
	}
}

@media (min-width: @screen-lg) {
		
	
	
	

	.live-blog {
		padding-left: 170px;	
		&:before {
			left: 145px;
			top: -5px;
		}
		&> li {
			position: relative;
			&:before {
				top: 1px;
				left: -33px;
			}
		}
	}

	.Meta {
		width: 140px;
		float: left;
		margin-left: -170px;
		position: absolute;
		top: 5px;
	}

	.live-blog-frontpage {
		padding-left: 80px;
		[class*="live-item"] {
			padding-bottom: 1rem;
			margin-bottom: 1rem;
			
		}	
		&:before {
			left: 56px;
			top: -3px;
		}

		
		&> li {
			position: relative;
			&:before {
				top: -2px;
				left: -33px;
			}
		}
		.Meta {
			width: 70px;
			float: left;
			margin-left: -70px;
			position: absolute;
			top: 0;
		}
	}
}
