@col-purple: #a10e4b;
.business-live-teaser {
	display: none;
	background-color: @col-purple; 
	height: 35px;
	line-height: 35px;
	margin-bottom: 10px;
	font-weight: 700;
	time {
		color: @col-breaking;
	}
	a {
		color: #fff;
		display: block;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
		&:hover {
			text-decoration: underline;
		}
	}
}
@media (max-width: @screen-sm-max) {

	.business-live-teaser {
		font-size: 13px;
	}
}

.is-live .business-live-teaser {
	display: block
}






.Content > div {
	margin-bottom: 10px;
}


.scrbbl-sitePreview {
	background-color: #fff;
	padding: .625rem;
	line-height: 1.2;
	border: 1px solid;
	border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	margin-bottom: .625rem;
	.clearfix;
	.LinkImage {
		float: left;
		margin: 0 1rem 0 0;
		max-width: 160px;
	}
	.scrbbl-sitePreview-inner {
		overflow: hidden;
	}
	h3 {
		margin: 0 0 5px;
		font-family: Berlingske, Georgia, "Times New Roman", Times, serif;
		font-size: 17px;
		font-weight: normal;
		
		a {
			color: #000;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.LinkSiteName {
		color: #999;
		font-size: 11px;
		padding-right: .625rem;
		font-weight: 700;
		display: block;
		margin-bottom: 5px;
	}
	.LinkDescription {
		font-size: 14px;
		display: inline-block;
	}

}


.Meta {
	font-size: 12px;
}

.live-content {
	margin: 2rem 0;

}

.live-blog {
	padding: 0 0 0 30px;
	position: relative;
	list-style: none;
	&:before {
		position: absolute;
		left: 10px;
		top: 5px;
		bottom: 5px;
		width: 1px;
		background-color: rgba(0,0,0,.1);
		content: '';
	}


	img {
		display: block;
		max-width: 100%;
		height: auto;
	}
	
	a {
		font-weight: 700;
	}
	
	.twitter-tweet {
		visibility: hidden;
	}
	
	twitterwidget {
		display: none;
		&.twitter-tweet-rendered {
			display: block;
		}
	}


	
	[id*="Poll"] {
		padding: 1rem;
		background-color: #fff;
		border: 1px solid;
		border-color: #e5e6e9 #dfe0e4 #d0d1d5;
	}
	[id*="Answer"] {
		// padding-left: 20px;
		font-size: 14px;
		display: block;
		margin-bottom: 5px;
		input[type="radio"] {
			margin: 0 5px 0 0;
			/*float: left;
			margin-left: -20px;*/
		}
		
	}
}

[class*="live-item"] {
	position: relative;
	background-color: #fdeee9;
	padding: 1rem;

	margin: 0 0 2rem 0;

	&> img {
		display: none; // hide avatars
	}
	
	&:before {
		width: 12px;
		height: 12px;
		border-radius: 50%;
		top: 5px;
		display: inline-block;
		content: '';
		background-color: @biz-pink;
		position: absolute;
		left: -25px;
		border: 1px solid rgba(0,0,0,.1);
	}

	figure {
		background-color: #fff;
		padding: 5px;
		margin: 5px 0;
		figcaption {
			padding-top: 5px;
			font-size: 14px;
		}
	}
	.youtube-post {
		position: relative;
		height: 0;
		width: 100%;
		padding-top: 56.25%;
		iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
	}
	.Content > blockquote > div {
		font-size: 20px;
	}
}








.liveblog-header {
	border-top: 4px solid #333;
	padding-top: 10px;
	h1 {
		margin: 0;
		font-size: 30px;
	}
}
.liveheader {
	background-color: @col-purple;
	line-height: 40px;
	height: 40px;
	font-size: 16px;
	color: #fff;
	font-weight: 700;
	span {
		padding: 0 1rem;
	}
	.livelabel {
		line-height: 40px;
		height: 40px;
		float: left;
		display: inline-block;
		background-color: #ff3a3a;
	}
	.timeofday {
		display: inline-block;
	}
	.hostoftheday {
		font-size: 11px;
		line-height: 1;
		padding-top: 10px;
		display: inline-block;
		float: right;
		padding-right: 40px;
		position: relative;
		a {
			display: block;
		}
		span {
			display: block;
			padding: 0;
		}
	
		img {
			float: right;
			border-radius: 50%;
			margin: 0;
			width: 30px;
			position: absolute;
			top: 5px;
			right: 5px;
			height: auto;
			vertical-align: middle;
		}
	}
}
.livelabel.livelabel-offline {
	background-color: darken(#444, 0%);
	color: #999;
	text-shadow: -1px -1px 0 rgba(0,0,0,.5);
	margin-right: 10px;
}




@media (max-width: @screen-sm-max) {
	.live-content {
		padding: 1rem;
	}
	.liveheader {
		font-size: 12px;
		
		.livelabel  {
			padding: 0 1rem;
		}
	}
	.live-teaser {
		img {
			max-width: 80px;
		}
	}
	
	.scrbbl-sitePreview {	
		.LinkImage {
			float: none;
			margin: 0 0 1rem 0;
			max-width: none;
		}
	}
}

@media (min-width: @screen-lg) {
	.live-blog {
		padding-left: 170px;
		
		&:before {
			left: 155px;
			top: 10px;
			bottom: 10px;	
		}
	}
	.live-blog > li {
		position: relative;
		&:before {
			top: 15px;
			left: -20px;
		}
	}

	.Meta {
		width: 150px;
		float: left;
		margin-left: -170px;
		position: absolute;
		top: 1rem;
	}	
}
