.example-element {
	background: rgba(0,0,0,.1);
	padding: 20px;
}
h1, h2, h3, h4, div, span, strong, i, em, form, figcaption {
	text-rendering: optimizeLegibility;
}
.site-header {
	@media (max-width: @screen-sm-max) {
		display: none;
	}
	.container {
		@media (min-width: 1280px) {
			width: 1280px;
		}
	}
}
.site-menu {
	background-color: @b-1;
	margin-top: 20px;
	ul {
		.list-clean;
		line-height: 35px;
		li {
			display: inline-block;
			padding: 0 15px;
			float: left;
			&:first-of-type {
				padding-left: 0;
			}
			&:last-of-type {
				padding-right: 0;
				float: right;
			}
		}
	}
	a {
		color: #fff;
		.a-blur;
	}
}
.tools {
	float: right;
	display: inline-block;
	.btn {
		margin-top: -5px;
	}
}
.article-profile {
	padding: 20px;
	background: rgba(0,0,0,.05);
}
a.header-tool-icon {
	font-size: 25px;
	padding: 0 10px;
	.a-blue;
	.a-blur;
}
.social-iframe {
	display: none;
	.transition (all .2s ease-out);
	display: inline-block;
	height: 30px;
	margin-right: 0;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 0px;
}
.tool-likeus {
	position: relative;
	display: inline-block;
	.transition(all 0.15s linear);
	cursor: pointer;
	float: left;
	&:hover {
		.social-iframe {
			position: relative;
			width: 120px;
		}
	}
}
.show {
	display: block;
}

.global-search {
	height: 140px;
	background-color: rgba(256,256,256,.95);
	position: absolute;
	width: 100%;
	top: -10px;
	z-index: 100;
	.transition (all 0.1s ease);
	.container {
		padding: 0 45px 0 35px;
		max-width: 940px;
	}
	input[type="search"] {
		height: 120px;
		background-color: inherit;
		font-size: 72px;
		line-height: 132px;
		width: 100%;
		padding-left: 25px;
		border: 0;
		&:focus {
			outline: 0;
		}
	}
	.fa-times {
		left: 0;
		top: 56px;
		font-size: 28px;
		color: #333;
		padding-top: 1px;
		position: absolute;
		cursor: pointer;
		&:hover {
			color: @biz-1;
		}
	}
	.fa-search {
		position: absolute;
		font-size: 72px;
		color: #666;
		cursor: pointer;
		right: 25px;
		top: 30px;	
		border: none;
		padding: 1px;
		background: transparent;
		&:hover {
			color: #333;
		}
		&:focus {
			outline: 0;
		}
	}
	.container {
		position: relative;
	}
}
.global-search.show-search {
	top: 133px;
	.transition(all 0.4s ease-in-out);
}


.header-wrapper {
	background-color: @biz-pink;
	z-index: 200;
	position: relative;
	height: 133px;
}

.super-header {
	line-height: 40px;
	font-size: 12px;
	height: 40px;

	
	ul {
		float: left;
		.list-clean;
		li {
			display: inline-block;
			font-weight: 600;
			.sosume {
				background: url(../images/cookies.png) left center no-repeat;
				padding-left: 16px;
			}
		}
		li + li:before {
			content: "\00b7";
			margin-left: 5px;
			margin-right: 7px;
			display: inline-block;
		}
		a {
			.a-blue;
			.a-blur;
		}
		
	}
	.right-nav {
		float: right;
	}
}
.logo {
	width: 373px;
	height: 34px;
	display: inline-block;
	text-indent: -9999px;
}
.teaser-hover {
	.transition (transform .2s ease-out);
	 &:hover{
		.scale(1.2);
	}
}

.article-related-chunk {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-top: 10px;
	.module-sm;
	ul {
		.list-clean;
			li {
			vertical-align: top;
			width: 47%;
			display: inline-block;
			margin-bottom: 20px;
			padding-right: 5px;
			.clearfix;
			@media (max-width: @screen-xs-max) {
				width: 100%;
				margin-bottom: 10px;
			}
		}
	}
	.teaser {
		.header {
			margin-bottom: 5px;
		}	
	}
	
	figure {
		float: left;
		margin: 0 10px 0 0;
		img {

		}
	}
	.teaser-body {
		overflow: hidden;
	}
}
.toggle-content {
	max-height: 0;
	overflow: hidden;
	.transition (all .2s ease);
	height: auto;
}

.toggle-active .toggle-content {
	max-height: none;
	height: auto;
}
.teaser {
	.module-sm;
	h1.header,
	h2.header,
	h3.header {
		margin: 0 0 10px 0;
	}
	h2 {
		font-size: 15px;
		font-weight: 600;
	}
	footer {
		font-weight: 600;
		font-size: 11px;
		margin-bottom: 5px;
	}
	h2 + footer,
	h3 + footer  {
		margin-bottom: 0;
	}
	.header a {
		color: @text-color;
		&:hover {
			opacity: .8;
		}
	}
	.cat {
		color: @biz-1;
		text-transform: uppercase;
	}
	time {
		color: rgba(0,0,0,.5);
	}
	a + time {
		padding-left: 4px;
	}
	.teaser-tagline {
		color: rgba(0,0,0,.5);
		font-size: 13px;
		display: block;
		font-weight: 600;
	}
}
.teaser-theme {
	border-bottom: 3px solid rgba(0,0,0,.1);
	.clearfix;
	.teaser {
		margin-bottom: 10px;
	}
}
.list-staff {
	.list-clean;
	.clearfix;
	li {
		margin-bottom: 40px;
	}
	figure {
		text-align: center;
		position: relative;
	}
	img {
		.img-responsive;
		border-radius: 50%;
		margin: 0 auto 10px;
	}
	h1 {
		font-size: 15px;
		font-weight: 500;
		text-transform: uppercase;
		text-align: center;
	}
	h2 {
		font-size: 15px;
		font-weight: 300;
	}
}
.list-arrow {
	.list-clean;
	li {
		padding: 5px 0;
		&:before {
			content: '\f0da';
			display: inline;
			font-family: fontawesome;
			color: rgba(0,0,0,.8);
			padding-right: 5px;
		}
	}
}
.list-lg {
	 .header {
		font-size: 17px;
		font-weight: 600;
	}
}

.list-xs {
	 .header {
		font-size: 14px;
		font-weight: 600;
		margin-bottom: 5px!important;
	}
}
.teaser-fixed-height .header {
	height: 60px;
	overflow: hidden;
}
.teaser-author {
	line-height: 1.2;
	img {
		float: left;
		border-radius: 50%;
		margin-right: 5px;
	}
	.author-title {
		display: block;
		color: rgba(0,0,0,.7);
	}
}


.teaser-price {
	color: rgba(0,0,0,.6);
	line-height: 14px;
	&:hover {
		color: rgba(0,0,0,.8);
	}
}
.price {
	display: inline-block;
	margin-left: 2px;
	vertical-align: middle;
	font-size: 12px;
	font-weight: 600;
	
}

.hover-border {
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	right: 0;
	border-radius: 50%;
	width: 150px;
	height: 150px;
	margin-left: -75px;
	.transition (box-shadow .1s ease);
}
a:hover {
	.hover-border {
		box-shadow: 0 0 0 5px @biz-1 inset;
		z-index: 99;
	}
}
.teaser-img {
	margin-bottom: 10px;
	a {
		img {
			.transition (.2s opacity ease);
			-webkit-backface-visibility: hidden;
		}
		&:hover {
			img {
				opacity: .9		
			}
		}
	}
}
.page-header {
	clear: both;
	position: relative;
	padding: 0;
	border-bottom: 0;
	margin-top: 0;
	.clearfix;
	padding-top: 20px;
}
.page-header-border {
	border-top: 5px solid rgba(0,0,0,.1);	
	padding-top: 40px;
}

h1.page-header {
	font-size: 60px;
	font-weight: 200;
	margin-bottom: 30px;
	font-family: berlingske;
	.text-center;
	@media (max-width: @screen-xs-max) {
		font-size: 5.9vw;;
	}
}
h2.page-header {
	font-size: 25px;
	font-weight: 600;
	padding-top: 30px;
	margin: 40px 0 20px 0;
	text-transform: uppercase;
	.text-center;
	&:before {
		height: 20px;
		content: ' ';
		display: inline-block;
		width: 2px;
		position: absolute;
		left: 50%;
		top: 0;
		background-color: @biz-1;
	}

}
.list-inline {
	a {
		display: inline-block;
		&:before {
			content: '\00b7';
			display: inline-block;
			margin: 0 5px;
		}
	}
	a.last {
		margin-left: 5px;
		color: #fff;
		&:before {
			display: none; 
		
		}
	}
	a:first-child {
		&:before {
			display: none;
		}
	}
}
.nav-responsive {
	position: relative;

	ul {
		.list-clean;
		li {
			display: inline-block;
			margin: 0 0 0 15px;
		}
	}

	

	.nav-toggle {
		display: none;
	}
	ul {
		
		top: 2em;
		left: 0;
	}
	&.nav-responsive-right {
		float: right;
				
		ul {
			right: 0;
			left: auto;
		}
		
	}
	@media (max-width: @screen-xs-max) {
		ul {
			display: none;
		}
		.nav-toggle {
			display: inline-block;
			color: #fff;
		}		
		
	}
	&.show-nav {
		z-index: 9999;
		ul {
			display: inline-block;
			position: absolute;
			
			li {
				float: none;
				display: block;
				max-width:280px; 
				width: 170px;
				background: #333;
				padding: 0 10px;
				border-bottom: 1px solid rgba(255,255,255,.1);
				text-align: left;
				margin-left: 0;
				a {
					color: #fff;
				}

			}
		}
	}

}
.header-sponsor-article {
	// height: 51px;
	h1 {
		font-size: 100%
	}
	span {
		font-size: 40px;
	}
	nav {
		text-align: right;
		margin-bottom: 0;
		font-weight: 600;
		
		a {
			.a-gray;
		}

	}
	@media (max-width: @screen-xs-max) {
		.logo-premium {
			float: none;
			font-size: 25px;
		}

	}
}
.btn-premium {
	margin-bottom: 10px;
	margin-right: 10px;
}

.article-category-premium .article-content a[href*=".doc"]:before,
a.btn-premium[href*=".doc"]:before {
	content: '\f1c2';
	font-family: fontawesome;
	margin-right: 5px;
}
.article-category-premium .article-content a[href*=".pdf"]:before,
a.btn-premium[href*=".pdf"]:before {
	content: '\f1c1';
	font-family: fontawesome;
	margin-right: 5px;
}
.article-category-premium .article-content a[href*=".xlsx"]:before,
a.btn-premium[href*=".xlsx"]:before {
	content: '\f1c3';
	font-family: fontawesome;
	margin-right: 5px;
}
.article-category-premium .article-content a[href*=".ppt"]:before,
a.btn-premium[href*=".ppt"]:before {
	content: '\f1c4';
	font-family: fontawesome;
	margin-right: 5px;
}



a.btn-premium:after {
	content: "\f019";
	font-family: fontawesome;
	margin-left: 5px;	
	color: rgba(0,0,0,.4);
}


.header-brandview {
	.logo-brandview {
		width: 200px;
		height: 41px;
		text-indent: -9999px;
		margin-right: 10px;
	}
	h1 {
		float: left;
		margin-top: 0;
	}
	span {
		font-weight: 600;
	}
}
.header-premium {
	line-height: 40px;
	margin-bottom: 10px;
	@media (max-width: @screen-xs-max) {
		line-height: 2;
	}
	.clearfix;
	.logo-premium {
		line-height: 1;
		float: left;
		margin-bottom: 0;
		span {
			font-size: 20px;
			line-height: 40px;
			padding: 0 20px;
		}
	}
}
.brandview-info {
	clear: both;
}
.logo-premium {
	margin-top: 0;
	text-transform: uppercase;
	font-weight: normal;
	span {
		display: inline-block;
		background-color: #222;
		#gradient .vertical(#333; #000;  0%; 100%);
		color: #fff;
		line-height: 1;
		padding: 0 .1em;
		font-family: @font-family-sans-serif;
		font-family: Berlingske;
		.transition (background-color .1s ease);
	}
	&:hover {
		span {
			background: #000;
		}
	}
}

.header-sponsor-article {
	padding-top: 10px;
	border-top: 5px solid rgba(0,0,0,.1);
	.logo-brandview {
		float: left;
	}
}
.logo-brandview {
	margin-top: 0;
	
	
	span {
		display: inline-block;
		font-weight: 200;
		
	}

}

.section-title {
	margin-bottom: 10px;
	padding-top: 10px;
	margin-bottom: 50px;
	border-top: 3px solid rgba(0,0,0,.1);
	margin-top: 0;
	span {
		font-weight: 200;
	}
	a.home {
		display: block;
		font-size: 13px;
		font-weight: 600;
	}
}
.section-header {
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 20px;
	margin-top: 0;
	position: relative;
	border-top: 4px solid rgba(0,0,0,.1);
	padding-top: 10px;
}
.section-header-link {
	float: right;
	font-weight: 300;
	text-transform: none;
}

.deck-sm {
	.module-sm;
	border-top: 3px solid rgba(0,0,0,.1);
	h2 {
		margin-top: 10px;
	}
}
.deck {
	.module;

	.deck-footer {
		margin: 20px;
		clear: both
	}
}

.list-clean {
	list-style: none;
	margin: 0;
	padding: 0;
	li {
		margin: 0;
	}
}

.list {
	.list-clean;
	
	li {
		margin: 0;
		padding: 10px 0;
		border-bottom: 1px dotted rgba(0,0,0,.1);
		h2 {
			margin: 0;
		}
		&:first-child {
			border-top: 1px dotted rgba(0,0,0,.1);
		}
		footer {
			margin-bottom: 5px;
		}
		/*.header + footer {
			margin: 5px 0 0 0 
		}*/
	}
}
.header-25 .header {
	font-size: 25px;
}
.header-30 .header {
	font-size: 30px;
}
.header-35 .header {
	font-size: 35px;
}
.teaser-body {
	overflow: hidden;
	span {
		/*font-size: 12px;
		font-weight: 600;*/
	}
}
.list-border {
	.teaser {
		margin-bottom: 10px;
		padding-bottom: 10px; 
		border-bottom: 1px solid rgba(0,0,0,.1);
	}
}

.toplist {
	.list-clean;
}
.toplist {
	a {
		overflow: hidden;
		display: block;
		color: @text-color;
		&:hover {
			opacity: .8;	
		}
	}
	li {
		counter-increment: toplist;
		padding-left: 0px;
		overflow: hidden;
		margin-bottom: 10px;
		padding-bottom: 10px;
		border-bottom: 1px solid rgba(0,0,0,.1);
		font-weight: 600;
		line-height: 1.3;
	    &:before {
	    	content: counter(toplist) ".";
	    	float: left;
	    	display: inline-block;
	    	color: rgba(0,0,0,.5);
	    	text-align: right;
	    	padding-right: .5em;
	    	font-weight: 200;
	    	width: 30px;
    		font-size: 16px;
		}
	}
}

.toplist-lg {
	li {
    	&:before {
			width: 50px;
	    	font-size: 30px;    		
		}
	}
}
.toplist-lg li {
	&:before {
    	font-size: 30px;
    	width: 50px;
    	line-height: 1;
    }
}
.list-image-left {
	figure {
		float: left;
		margin: 0 10px 0 0;	
	}
	.teaser-body {
		margin-left: 60px;
	}
}
.list-image-left.toplist {
	.teaser-body {
		margin-left: 90px;
	}
}

.list-image-right {
	figure {
		float: right;
		margin: 0 0 0 10px;	
	}
	.teaser-body {
		margin-right: 60px;
	}

}
.list-jobs {
	.list-clean;
	.list-bullet;
	li {
		font-size: 13px;
		margin-bottom: 10px;
		strong {
			font-weight: 600;
		}
		figure {
			float: right;
			margin-left: 10px;
			clear: right;
		}
	}
}

.list-bullet {
	li {
		padding-left: 15px;
	}
	li:before {
		display: inline-block;
		content: "\f054";
		font-family: fontawesome;
		width: 12px;
		height: 12px;
		line-height: 12px;
		text-align: center;
		font-size: 10px;
		margin-left: -15px;
		color: @biz-1;
	}
}

.teaser-image-left {
	figure {
		float: left;
		margin: 4px 10px 0 0;
	}
}

.teaser-divider {
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 10px;
}


.business-inventory-jobindex {
	a {
		.a-gray;
	}
}
.inventory-footer {
	font-size: 12px;
	font-weight: 600;
	text-align: center;
}

.banner {
	.text-center;
}
.desktop-banner {
	@media (max-width: @screen-sm-max) {
		display: none;
	}
}
.rat-tail {
	position: relative;
	width: 960px;
	height: 180px;
	margin: 20px -10px 10px;
	.banner-left {
		position: absolute;
		left: -160px;
		width: 160px;
		overflow: hidden;
		top: 0;
	}
	.banner-right {
		position: absolute;
		right: -160px;
		width: 160px;
		overflow: hidden;
		top: 0;
	}
}
.banner-top-article {
	text-align: center;
	margin-bottom: 20px;
}

.article-image {
	.module-sm;
	figcaption {
		font-size: 13px;
		line-height: 1.2;
		color: rgba(0,0,0,.8);
		margin-top: 5px;
		font-weight: 600;
		span {
			color: rgba(0,0,0,.6);
		}
	}
}

.article-head {
	position: relative;
	margin-bottom: 20px;

	.article-date {
		font-size: 13px;
		color: rgba(0,0,0,.8);
		.module-xs;
		.clearfix;
		display: block;
	}
	.date-updated {
		display: inline-block;
		background: #fed100;
		padding: 0 5px;
		font-style: italic;
		color: #111;
	}
	
	
	
	 .article-tag  {
	 	text-transform: uppercase;
		font-size: 14px;
		font-weight: 600;
		display: block;
		position: relative;
		clear: left;
		
		span {
			background: @biz-pink;
			display: inline-block;
			padding: 0 5px 0 0;
			z-index: 2;
			position: relative;
		}
		&:after {
			position: absolute;
			height: 5px;
			background: rgba(0, 0, 0, 0.1);
			left: 0;
			right: 0;
			top: 7px;
			content: '';
			display: block;
			z-index: 0;
		}
	 }
	 

}

h1.heading {
	font-weight: normal;
	font-size: 40px;
	color: #000;
	line-height: 1.2;
	margin: 0 0 10px;
	font-family: Berlingske;
}
.article-category-brandview .heading {
	/*font-family: @font-family-sans-serif;
	font-weight: 200;
	font-size: 50px;*/
}

.media-embeds  iframe{
	text-align: center;
	margin: 10px auto!important;
}

.module-header {
	font-size: 12px;
	font-weight: 700;
	margin: 0 0 10px 0;
	padding: 10px 0;
	border-top: 1px solid rgba(0,0,0,.1);
	line-height: 1.3;
	text-transform: uppercase;
		span {
			display: block;
			font-size: 11px;
			color: @biz-1;
		}
}

.aside-header {
	font-size: 17px;
	font-weight: 600;
	margin: 0 0 10px 0;
	line-height: 1.3;
		span {
			display: block;
			font-size: 12px;
			color: @biz-1;
		}
}
.aside-header-small {
	font-size: 12px;
	text-transform: uppercase;
	margin: 5px 0 20px;
}

.article-content {

	padding-bottom: 50px;
	b, strong {
		font-weight: 600;
	}
	iframe {
		clear: both;
	}
	blockquote {
		.clearfix;
		p {
		    font-size: 20px; 
		    margin-bottom: 10px; 
 		}
 		small {
 			float: left;
 		}
	}

	h2 {
		font-size: 17px;
		font-weight: 600;
	}
	h3 {
		font-size: 16px;
		font-weight: 600;	
	}

	.article-summary {
		font-weight: 500;
		font-size: 25px;
		line-height: 1.3;
		margin-bottom: 25px;
		margin-top: 0;
		color: rgba(0,0,0,.8);
	}

	
	> p {
		line-height: 1.6;
		margin-bottom: 25px;
		font-size: 17px;
		
	}

	div + p {
		clear: left;
	}
	> ul, > ol {
		margin-bottom: 25px;
	}

}
.embedded-node {
	.module-sm;
}
.article-advetorial {
	.article-tag {
		text-align: center;
		span {
			margin: 0 auto;
			background: @biz-1;
			padding: 0 5px;
			color: #fff;
		}	
	}
	
}
.article-large .article-content {
	p, h2, h3, h4 {
		max-width: 620px;	
	}
	
}

.article-related {
	.clearfix;
	h1 {
		position: relative;
	}
}
.article-byline {
	line-height: 1.2;
	margin-bottom: 5px;
	.clearfix;
	border-bottom: 1px solid rgba(0,0,0,.1);
	padding-bottom: 10px;
	figure {
		float: left;
		margin-right: 10px;
	}
	img {
		border-radius: 50%;
	}
	.article-author {
		font-size: 13px;
		color: rgba(0,0,0,.7);
		display: inline-block;
		margin-right: 15px;
		@media (max-width: @screen-xs-max) {
			margin-bottom: 5px;
		}
		span {
			font-weight: 600;
			overflow: hidden;
			display: inline-block;
		}
	}
	.follow-author {
		font-size: 10px;
		font-weight: 600;
		text-transform: uppercase;
	}
}
.article-social-top {
	border-top: 1px solid rgba(0,0,0,.1);
	border-bottom: 1px solid rgba(0,0,0,.1);
}
.article-tags {
	.module-sm;
	h1 {
		font-size: 12px;
	}
	ul {
		.list-clean;
		li {
			display: inline-block;
			font-size: 12px;
			font-weight: 500;
			a {
				display: inline-block;
				background-color: rgba(0,0,0,.05);
				border-radius: 10px;
				padding: 1px 10px;
				line-height: 14px;
				.transition (background-color .1s ease);
				&:hover {
					background-color: rgba(0,0,0,.1);
				}
			}

		}
	}
}
.article-social {
	.module-xs;
	padding: 10px 0;

	@icon-size: 35px;
	[class*='icon-social-'] {
		color: #fff;
		width: @icon-size;
		height: @icon-size;
		line-height: @icon-size;
		border-radius: 50%;
		text-align: center;
		display: inline-block;
		font-size: 18px;
		.transition (background-color .1s ease);
		background-color: rgba(0,0,0,.3);
		//default	
		&:hover {
			background-color: rgba(0,0,0,.4); 
		}
	}
	.icon-social-facebook{
		background-color: @col-facebook;
		&:hover {
			background-color: darken(@col-facebook, 5%);
		}
	}
	.icon-social-twitter {
		background-color: @col-twitter;
		&:hover {
			background-color: darken(@col-twitter, 5%);
		}
	}
	.icon-social-linkedin {
		background-color: @col-linkedin;
		&:hover {
			background-color: darken(@col-linkedin, 5%);
		}
	}
	.icon-text {
		color: #000;
	}
	.comments-teaser {
		font-size: 13px;
		font-weight: 600;
		
		.icon-letter {
			color: #fff;
			&:hover {
				background-color: rgba(0,0,0,.5); 
			}
		}
	}
}
.article-link-embedded {
	padding: 5px 5px 5px 20px;
	position: relative;
	margin: 10px 0 15px;

	
	span {
		display: block;
		text-transform: uppercase;
		font-size: 11px;
		line-height: 1.2;
		font-weight: 600;
	}
	
	a {
		color: rgba(0,0,0,.8);
		.a-blur;
		font-size: 14px;
		font-weight: 600;
		line-height: 1.2;
		display: inline-block;
	}
	figure {
		float: left;
		margin-right: 10px;
	} 
	
}

.article-video {
	.module-sm;
	clear: both;
}
.article-image-embedded {
	@media (max-width: @screen-sm-max) {
		display: block;
		max-width: none;
		margin: 0 0 20px;
		figure {
			text-align: center;
			img {
				margin: 0 auto;
			}
		}
	}

	max-width: 50%;
	margin: 5px 0 20px 20px;
	float: right;
	clear: right;
	
	figcaption {
		font-size: 13px;
		font-weight: 600;
		color: rgba(0,0,0,.8);
		padding-top: 5px;
		span {
			color: rgba(0,0,0,.6);
		}
	}
	img {
		.img-responsive;
	}
}
.sm-notitification {
	display: none;
	font-size: 11px;
	text-align: center;
	padding: 3px 0;
	color: rgba(0,0,0,.7);
	font-style: italic;

	@media (max-width: @screen-xs-max) {
		display: block;
	}
}
.article-module {
	margin-bottom: 25px;
}
.article-fact {
	position: relative;
	padding: 30px 20px;
	margin-bottom: 25px;

	.fact-footer {
		text-align: right;
		font-size: 14px;
		font-weight: 700;
		small {
			color: rgba(0,0,0,.7);
		}
	}
	.fact-cite {
		font-size: 11px;
		color: rgba(0,0,0,.6);
		line-height: 1.2;
		font-style: normal;
		padding-left: 3px;
		margin-bottom: 0;
	}
	img {
		.img-responsive;
	}
	
	figcaption {
		font-size: 12px;
		color: rgba(0,0,0,.7);
		line-height: 1.3;
		margin-top: 5px;
		font-weight: 600;
		span {
			color: rgba(0,0,0,.5);
		}
	}
	&:before {
		position: absolute;
		background: rgba(0,0,0,.05);
		top: 5px;
		bottom: 5px;
		left: 0;
		right: 0;
		content: ' ';
		display: block;
		z-index: -1;
	}
	ul, ol {
		.list-clean;
		li {
			margin-bottom: 5px;
			border-bottom: 1px dotted rgba(0,0,0,.1);
			padding-bottom: 5px;
			&:first-child {
				border-top: 1px dotted rgba(0,0,0,.1);
				padding-top: 10px;
			}
		}
	}
	ul:not(.list-timeline) {
		li {
			padding-left: 13px;
		}
		li:before {
			display: inline-block;
			background: rgba(0,0,0,.4);
			width: 7px;
			height: 7px;
			margin-left: -13px;
			margin-right: 5px;
			content: ' ';
		}
	}
	p, li {
		font-size: 14px;
		line-height: 1.5;
	}
	b {
		font-weight: 600;
	}

	// used in both timeline and theme lists
	.list-timeline {
		padding-left: 10px;
		border-left: 1px solid rgba(0,0,0,.1);
		margin-left: 3px;
		margin-bottom: 15px;
		.teaser {
			position: relative;
			h2 {
				margin-bottom: 0;
				position: relative;
				&:before {
					content: '\f0da';
					font-family: fontawesome;
					background-color: #e9d4cf;
					color: rgba(0,0,0,.9);
					width: 13px;
					height: 19px;
					text-align: center;
					line-height: 19px;
					border-radius: 50%;
					position: absolute;
					left: -16px;
					top: -3px;
					display: inline-block;
					font-size: 15px;
					
					.transition (color .1s ease);
				}
			}
			&:hover {
				h2:before {
					color: @biz-1;
				}
			}
		}
		.current-article h2 {
			a {
				color: rgba(0,0,0,.5);
			}
			&:before {
				
				color: @biz-1;
			}
		}
		p {
			line-height: 1.2;
			font-size: 13px;
			&:last-child {
				margin-bottom: 0;
			}
		}
		li {
			margin-right: 10px;
			/*margin-bottom: 15px;
			padding-bottom: 15px;*/
			&:first-child {
				border-top: 0;
			}
			&.current-article {
				
			}
			&:last-child {
				border-bottom: 0;
			}
		}
		.time {
			font-weight: 700;
			font-size: 12px;
			color: @biz-1;
			text-transform: uppercase;
			position: relative;
			display: block;
			margin-bottom: 3px;

			&:before {
				content: ' ';
				background: @biz-1;
				width: 16px;
				height: 16px;
				border-radius: 50%;
				position: absolute;
				left: -18px;
				top: 0px;
				display: inline-block;
				border: 5px solid #e9d4cf;
			}
		}

		h2 {
			font-size: 13px;
			font-weight: 600;
			color: rgba(0,0,0,.8);
			margin: 0 0 4px;	
		}
	}

}

@media (min-width: @screen-md) {
	.mousescroll {
    	overflow-x: hidden;	
    	overflow-y: auto;
    	-webkit-overflow-scrolling: touch;
	    ul {
	 	   list-style-type: none;
		}
	}
}

.aside-premiumbox {
	

	header {
		margin-bottom: 10px;
	}
}
.article-fact-2-col {
	.fact-2-col;
}
.article-fact-timeline {
	.fact-content {
		max-height: 450px;
		z-index: 2;	
		margin-bottom: 10px;
		@media (max-width: @screen-sm-max) {
			max-height: none;
		}
	}	
}
.article-fact-float-theme {
	.article-fact-float-right;	
	li {
		margin: 5px 0;
		padding: 5px 0;
	}
	.teaser {
		font-size: 14px;
	}
	h1 {
		font-size: 18px;
		font-weight: 700;
	}

}
.article-fact-float-right {
	max-width: 40%;
	@media (max-width: @screen-xs-max) {
		max-width: 100%;
		float: none;
		margin: 0 0 20px;
	}
	float: right;
	margin-left: 20px;
	margin-bottom: 10px;
	clear: right;
	figure {
		margin-bottom: 20px;
	}
}



.article-fact-embedded {
	clear: right;
	position: relative;
	max-height: 200px;
	
	overflow: hidden;
	// .transition (height .2s ease);
	margin-bottom: 25px;

	p, li {
		font-size: 14px;
	}
	figure {
		float: left;
		margin: 5px 10px 0 0;
	}
	.fact-fader {
		height: 80px;
		#gradient > .vertical(rgba(245,223,218,0); rgba(246,223,218,1); 0; 80%);  
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		text-align: center;
		cursor: pointer;
		
		

		.fact-toggle {
			display: inline-block;
			cursor: pointer;
			position: relative;
			text-transform: uppercase;
			font-weight: 700;
			font-size: 12px;
			top: 52px;
			.transition (background-color .1s ease);
			.btn-primary;
			.btn-xs;
			
			.fa {
				color: #fff;
			}
			
		}
	}
	&.show {
		max-height: 9999px;
		.fact-fader {
			background: transparent;
		}
		.fact-toggle .fa:before {
			content: "\f066";
		}
		.fact-toggle {
			position: absolute!important;
			right: 5px;
			bottom: 10px;
			top: auto!important;
			background: transparent!important;
			.fa {
				background-color: @biz-1;
				padding: 4px;
				.transition (transform .1s ease);
				&:hover {
					.scale(1.2);
				}
			}
			span {
				display: none;
			}
		}
	}
}
.article-premium-buy {
	.module-sm;
	.module-top;
	border-top: 5px solid rgba(0,0,0,.1);
	border-bottom: 5px solid rgba(0,0,0,.1);
	padding-bottom: 10px;

	h1 {
		text-align: center;
	}
	.premium-buy-option {
		margin-bottom: 5px;
		@media  (max-width: @screen-sm-max) {
			border-bottom: 1px solid rgba(0,0,0,.1);
			padding-bottom: 10px;
			&:last-child {
				border-bottom: 0;
			}
		}	
	}
	.premium-buy-title {
		text-align: center;
		font-weight: 600;
		display: block;
	}
	.premium-price {
		text-align: center;
		display: block;
		margin-bottom: 5px;
	}
	footer {
		.text-center;
	}
}


.fact-2-col {
	-webkit-column-count: 2;
	-moz-column-count: 2;
	column-count: 2;
	-webkit-column-gap: 35px;
	-moz-column-gap: 35px;
	column-gap: 35px;
}
.deck-2-col {
	.deck-content {
		.fact-2-col;
		li:first-child {
			border-top: 0;
		}
	}
}
.flex-4-2-2 {
	li {
		display: block;
		article {
			margin-bottom: 15px;
		}
		&:nth-child(4n+5) {
    		clear: left;
		}

	}
	@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
		li:nth-child(4n+5) {
    		clear: left;
		}
	}
	@media (max-width: @screen-xs-max) {
		li:nth-child(odd) {
    		clear: left;
		}
	}
}

.flex-4-3-2 {
	li {
		display: block;
	}

	@media (min-width: @screen-md){
		li:nth-child(4n+5) {
    		clear: left;
		}
	}	

	@media (min-width: @screen-sm) and (max-width: @screen-sm-max) {
		li:nth-child(3n+4) {
    		clear: left;
		}
	}
	@media (max-width: @screen-xs-max) {
		li:nth-child(odd) {
    		clear: left;
		}
	}
}







