

@font-path: "../fonts/";


// Font embeds
.font( @fontname; @filename; @fontweight; @fontstyle) {
@font-face {
    font-family: '@{fontname}';
    src: url('@{font-path}@{filename}.eot');
    src: url('@{font-path}@{filename}.eot?#iefix') format('embedded-opentype'),
         url('@{font-path}@{filename}.woff2') format('woff2'),
         url('@{font-path}@{filename}.woff') format('woff'),
         url('@{font-path}@{filename}.ttf') format('truetype');
    font-weight: @fontweight;
    font-style: @fontstyle;
    }
}
.font(Proxima; proximanova-light; 200; normal);
.font(Proxima; proximanova-regular; 300; normal);
.font(Proxima; proximanova-bold; 600; normal);
// .font(Proxima; proximanova-extrabold; 700; normal);
// .font(Berlingske-text; berlingskeseriftx-rg; 300; normal);
// .font(Berlingske; berlingskeserif-bd; 600; normal);
// .font(Berlingske; berlingskeserif-blk; 900; normal);
// .font(Berlingske; berlingskeserif-blkit; 900; italic);


.font(Berlingske; berlingskeserif-rg; 300; regular);
// .font(BerlingskeTxt; berlingskeseriftx-md; 500; regular);
.font(Berlingske; berlingskeserif-bd; 600; regular);
// .font(BerlingskeTxt; berlingskeseriftx-xbd; 700; regular);



