@proxima : proximanova;
@berlingske-serif: berlingskeserif-bd;





/*SKAKKE*/

// Font embeds
.font(@fontname; @filename; @fontweight) {
font-face {
    font-family: '@{fontname}';
    src: url('@{icon-font-path}@{filename}.eot');
    src: url('@{icon-font-path}@{filename}.eot?#iefix') format('embedded-opentype'),
         url('@{icon-font-path}@{filename}.woff2') format('woff2'),
         url('@{icon-font-path}@{filename}.woff') format('woff'),
         url('@{icon-font-path}@{filename}.ttf') format('truetype');
    font-weight: @fontweight;
    font-style: normal;
    }
}

.font(Proxima; proximanova-regular; 300);
.font(Proxima; proximanova-bold; 600);
.font(Proxima; proximanova-extrabold; 700);
.font(Berlingske; berlingske-serif; 300);

