// Block: paywall
.paywall {
  position: absolute;
  bottom: 0;
  left: 0; 
  right: 0;
  text-align: center;
  color: #333;
  background: @biz-pink;
  line-height: 1.2;
  padding: 3px;
  z-index: 100;
  padding: 5px;
  .paywall-inner {
    padding: 27px 17px 17px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 2px 2px 3px rgba(0,0,0,.1);
  }

   &:before {
     position: absolute;
     content: '';
     left: -1px;
     right: -1px;
     top: -130px;
     height: 130px;
     #gradient .vertical(rgba(250,220,210,0); rgba(250,220,210,1); 0%; 90%);    
     z-index: -10;
   }

    
  ins {
    color: #ffdb5e;
    text-decoration: none;
  } 

  h2 {
    font-size: 35px;
    font-weight: 600;
    margin: 0 0 10px;
    font-family: berlingske;

  }
  p {
    font-size: 16px;
    margin-bottom:20px;
    font-weight: 600;

  }

  .small {
    font-size: 14px;
    margin-bottom:5px;
  }
  .paywall--caption {
    margin: 15px 0 0 0;
    text-align: center;
    font-size: 14px;
  }
  
}

.paywall-soft {
  .paywall-inner {
    #gradient .vertical(rgba(0,0,0,0); rgba(0,0,0,.1); 80%; 100%);      
    padding-bottom: 60px;
    border-bottom-color:  rgba(0,0,0,.2);
  }
}
.close-paywall-overlay {
  display: block;
  padding: 20px 0;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  font-weight: 600;
}


.link-gray {
  color: rgba(0,0,0,.6);
  &:hover {
    color: rgba(0,0,0,.8);
  }
}

.btn-container {
  
  display: inline-block;
  padding-left: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  position: relative;
  &:first-of-type {
    &:after {
      width: 1px;
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
     //  background-color: rgba(0,0,0,.1);
      content: '';
    }
  }
}
.btn-container-inner {
  padding: 0 10px 0 0;
}
  






// Modifier: article-body--cutoff - used for paywall soft

.article-body--cutoff {
  position: relative;
  max-height: 450px;
  overflow: hidden;
  clear: both;
}



.rotator {
  height: 18px;
  position: relative;
  min-width: 220px;
}

.btn-paywall-2 .rotator {
  height: 13px;
}
@rotator-duration: 5s;

.msg1, 
.msg2 {
    display: block;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 100%;
    transform-style: preserve-3d;
    color: #fff;
    -webkit-animation: rotator @rotator-duration infinite linear; 
    -moz-animation: rotator @rotator-duration infinite linear; 
    -o-animation: rotator @rotator-duration infinite linear; 
    animation: rotator @rotator-duration infinite linear; 
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
}
.msg1 {
  
}
.msg2 {
  -webkit-animation-delay: (@rotator-duration / 2);
  -moz-animation-delay: (@rotator-duration / 2);
  -o-animation-delay: (@rotator-duration / 2);
  animation-delay: (@rotator-duration / 2);
  opacity: 0;
}



@-webkit-keyframes rotator {
  0% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
    }
    10% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }

    50% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }
    60%, 100% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
      
    }
}
@-moz-keyframes rotator {
  0% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
    }
    10% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }

    50% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }
    60%, 100% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
      
    }
}
@-o-keyframes rotator {
  0% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
    }
    10% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }

    50% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }
    60%, 100% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
      
    }
}
@keyframes rotator {
  0% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
    }
    10% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }

    50% {
      opacity: 1;
      transform:  rotate3d(1, 0, 0, 0deg);
    }
    60%, 100% {
      opacity: 0;
      transform:  rotate3d(1, 0, 0, -90deg);
      
    }
}



@media (max-width: @screen-sm-max) {
  .paywall {
    
    h2 {
      font-size: 35px;
    }
    p {
      font-size: 14px;
    }
    .btn {
      display: block;
      padding-left: 10px;
      width: 100%;
    }
    .btn-container {
      padding: 0;
      margin-bottom: 10px;
      float: none;
      display: block;
    }
    .btn-container-inner {
      padding: 0;
    }
  }
  .rotator {
    width: 100%;
    min-width: initial;
  }
}

  