//
// Wells
// --------------------------------------------------


// Base class
.well {
  min-height: 20px;
   margin-bottom: 20px;
   blockquote {
    border-color: #ddd;
    border-color: rgba(0,0,0,.15);
  }

}

.well-image {
  position: relative;
  img {
    .img-responsive;
  }
  figcaption {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,.7);
    font-size: 70px;
    letter-spacing: -0.02em;
    font-weight: 200;
    font-family: Berlingske;
    @media (max-width: @screen-xs-max) {
     font-size: 5.9vw;;
    }
    .text-center;
  }
}
// Sizes
.well-lg {
  padding: 24px;
}
.well-sm {
  padding: 9px;
}
